body {
    background-color: rgb(173, 179, 230);
    }.sec-1{
    margin: 10px auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(9, 9, 8, 0)),url(https://a-static.besthdwallpaper.com/piano-in-the-field-wallpaper-1366x768-12517_46.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
  }
  .sec-1h1{
    color:bisque;
    margin-bottom: 40px;
    padding: 0;
  
  }
  .center{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.center-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.center-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover{
    background: rgb(79, 57, 29, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color:rgb(185, 165, 139);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
     
    
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;


}